[2019-05-31 17:54] jarrodsfarrell opened #4 "Fast scanning ADF with long post-processing steps will consume all resources"
Since every page will spawn a new instance of the `scan_perpage` script (unless verbose logging is enabled) and if the scanner is scanning pages rapidly, it'll spawn too many processes and consume all resources as a result.

Perhaps should limit the amount of scripts to as many CPU cores the host has.

[2019-06-01 04:07] rocketraman commented on #4
Yup, that was the intended behavior to parallelize the processing. Has running out of resources actually been an issue for you, or is this more of an academic concern? I find it difficult to believe a scanner could scan pages fast enough to cause a problem.

[2019-06-01 05:03] jarrodsfarrell commented on #4
Yeah. We have a Fujitsu that can scan upto 60PPM. I was doing some testing on a laptop with the scanner on duplex, producing 78~ pages, and it'd spawn an absurd amount of `tesseract` processes to consume 2/3rds of the laptop's 16GB of RAM, kept CPU pegged at 100%, and all `tesseract` processes working at a crawl.

[2019-06-01 06:15] rocketraman commented on #4
Nice scanner :-) Ok, good thing to fix.

[2019-08-06 19:21] rocketraman commented on #4
@jarrodsfarrell Probably the easiest way I've found to do this is to use `sem` from the GNU parallel project, but it will introduce another dependency. Its widely available so I don't have a problem with adding this (as an optional dependency), but would that work for your situation?

[2019-08-06 21:19] jarrodsfarrell commented on #4
Taking a look into the project's man page it seems perfectly fine to use and a non-issue to have another dependency.

[2019-08-08 14:34] rocketraman commented on #4
@jarrodsfarrell Can you grab the changes in pull #5 and see if that solves your problem? If it works for you, I'll merge it.

[2019-08-08 17:10] jarrodsfarrell commented on #4
Currently at work, but I will give it a try whenever I can.

On Thu, Aug 8, 2019, 10:34 AM Raman Gupta <notifications@github.com> wrote:

[2019-08-08 21:31] jarrodsfarrell commented on #4
Unfortunately we don't have the 60PPM like before so I'm using a 25PPM model instead.

Regardless, it seems like using `sem` is a overall good change. I think it's even letting the OCRing step work a bit faster than running all the `tesseract` processes all at once (less task-switching?) and pauses between scans are noticeably more brief (scan process doesn't have to fight as much for resources?).

[2019-08-09 00:55] rocketraman commented on #4
Thanks for reporting and testing. I'll merge this.

[2019-08-09 06:17] #4 closed

[2019-12-28 22:30] gbirke opened #6 "--verbose flag breaks post-processing on Ubuntu/Debian"
Debian and Ubuntu use a very old version of netpbm (from 2002) which does not support the `-verbose` flag. When using the `-v`flag for the scan script, the `pbmtops` command fails.

As a workaround I've commented out the PNMVERBOSE variable in line 91 of `scan_perpage`. Of course it would be nicer to have a version check to ignore it, but I#m not up for that task.

[2020-01-08 00:26] cbschuld commented on #6
@gbirke - I had the same experience; the work around fixed it as well.  I removed the three lines - everything works perfectly now.

[2020-04-05 07:03] MoD01 commented on #4
I use my Raspberry Pi 4 because my Scansnap has not WebDAV or FTP feature. The resources of the pi runs out very quickly.

@rocketraman Can you please add `sem` as additional requirement in the readme ? The lack of this information cost me some time to debug the bottleneg - until I found this closed ticket here telling my the `if sem is installed: solve problem` code insertion :)

[2020-04-05 07:23] rocketraman commented on #4
It's already listed under optional requirements, but perhaps this issue deserves a more extensive call out.

[2020-04-05 21:14] rocketraman commented on #6
@gbirke @cbschuld Can you guys test the code in PR #7 and see if that solves the problem for you?

[2020-04-05 21:16] rocketraman commented on #4
@MoD01 I added an explanatory line in features for future people in your situation...

[2020-04-07 02:35] #6 closed

[2020-07-14 04:57] blankman373 opened #8 "Cropping limited to letter size?"
I'm working on setting up a basic document scanning station for my monthly bills. some of the bills are odd sizes, but they closely resemble legal size. its maybe 7x14, instead of 8.5x14. When I include the crop option, it crops the side, but also cuts off the bottom 3 inches. If i set the pagesize to legal, then it works, but that would do it for every scan then. Here's my code that i'm using wit

[2020-07-14 14:02] rocketraman commented on #8
Hi @blankman373 . The `--crop` option actually tells the Fujitsu SANE driver to do the cropping, so this is either a bug with the Fujitsu SANE driver, OR its a bug with the post-processing (conversion of postscript to PDF).

A few things to check:

1) Does it happen if you do *not* use the `--ocr` option? When using the `--ocr` option, its actually `tesseract` that does the conversion to PDF, and

[2020-07-15 04:24] blankman373 commented on #8
hi @rocketraman, thanks for getting back so quickly. I had some time to test tonight. It looks like it is a driver issue.

1. It does happen when i don't use `--ocr`.
2. It also happens in the pnm output right from the scanner.

I can't believe I didn't test this earlier, but I also tested with a page of actual Legal size, and with the `--crop` option, it cropped it to Letter. When i used `--size

[2020-07-15 04:57] rocketraman commented on #8
@blankman373 If you do end up creating an issue for the SANE project, please link it here for future searchers!

[2020-07-15 05:17] rocketraman commented on #8
@blankman373 Since the cropping is done in the driver, it probably depends on the scanner to have scanned enough data in the first place. Since the driver is defaulting to scanning a letter size page, that's all the image data the driver gets from the scanner, and so there is nothing to crop.

Using the code from https://github.com/rocketraman/sane-scan-pdf/tree/issue-8, try specifying both a page

[2020-07-15 22:31] blankman373 commented on #8
Thank you again for looking at this. it looks like it's working now.

so i deleted the old code and cloned this branch using
`git clone --single-branch --branch issue-8 https://github.com/rocketraman/sane-scan-pdf.git`

updated my script to
`/home/pi/sane-scan-pdf/scan -d -r 300 -v -m Gray --size Legal --crop --deskew -o /home/pi/scans/scan-$now.pdf`

And now it properly crops the legal length siz

[2020-07-19 03:06] IBMPortablePc opened #9 "Fujitsu driver option support"
Thank you for a great script. GUI is well and good, however CLI is often the way to simply get things done. A case in point is the lack of a decent Mac frontend for Sane.

I had no trouble using this script on my Mac (OS X 10.14.3) , once I installed the dependencies in Brew. In order to install scanadf I had to compile the Sane frontends, however this went smoothly.

However, the Fujitsu driver (

[2020-07-19 06:53] IBMPortablePc commented on #9
Okay, upon further examination I see that PS2PDF is performing the cropping, despite it being a feature of the driver. Now to work out how to use the driver cropping and not ps2pdf.....

[2020-07-19 12:04] rocketraman commented on #9
I'm happy people are finding it useful.

Nice to hear.

Yes, that should be quite easy to add. I might also add a way to "pass through" options to the driver.

When using ocr, tesseract does the conversion into PDF. Does this size issue happen consistently? What version of tesseract do you have installed?

The `--crop` option actually does set the Fujitsu driver `--sw-crop=yes` option. It then ask

[2020-07-19 12:06] rocketraman commented on #8
@blankman373 I just noticed the Fujitsu driver has an option for paper lower edge detection. Can you pull the updated issue-8 branch code, with the command line:

/home/pi/sane-scan-pdf/scan -d -r 300 -v -m Gray --crop --deskew -o /home/pi/scans/scan-$now.pdf

(i.e. without the `--size` option)

[2020-07-19 12:24] rocketraman commented on #9
Check out the code in branch `issue-9` -- it should allow you to pass through any driver option you like with `-xo` (short for eXtended option). For example:

[code]

[2020-07-19 12:37] rocketraman commented on #9
Just tried it, and it isn't a bug -- its necessary to get the PDF to respect the size of driver image output.

[2020-07-19 12:42] rocketraman commented on #9
In my local testing, I do notice that tesseract (with the `--ocr` option) does a slightly poorer job at setting the bounding box correctly, and does crop a bit beyond what the driver has output. If you were using the `--ocr` option with `--crop`, can you try it without `--ocr`?

[2020-07-21 00:30] IBMPortablePc commented on #9
Tesseract creating very large PDF page sizes is  a known issue, with a suggested solution.

"Set the dpi of the input images. Use mogrify from ImageMagick or similar."
https://github.com/tesseract-ocr/tesseract/issues/150

I have noticed that my cropping issue is that sometimes scans are cropped to exactly Letter size, even if they are A4 and A4 is specified. IT appears that there is a page size s

[2020-07-22 05:43] blankman373 commented on #8
hey @rocketraman, i pulled the latest code from this branch (after making a backup of the old code) and tested without `--size`.

Unfortunately, it cropped the legal sized page at letter dimensions. I then put `--size Legal` back in and it cropped it again. I went back to the old issue-8 code and it scanned the full legal page.

[2020-07-27 14:50] rocketraman commented on #9
Thanks for the link, I'll take a look.

Its possible you are running into https://github.com/rocketraman/sane-scan-pdf/issues/8.

[2020-07-29 21:20] rocketraman commented on #8
@blankman373 I believe I fixed the issue. Now, you should be able to specify `--crop` and it should scan (approximately [1]) the right size, smaller or larger than letter.

[1] I say approximately because the cropping logic doesn't try to match a "stanard" size, it just crops to the content. This often results in page outputs with custom sizes, a bit smaller or larger than the standard size. This

[2020-07-29 21:20] rocketraman commented on #8
Closing, feel free to re-open if you still have problems.

[2020-07-29 21:20] #8 closed

[2020-07-29 21:21] rocketraman commented on #9
I've merged the extended option support into `master`, closing. I will re-open a separate issue for the tesseract problem once I look into it.

[2020-07-29 21:21] #9 closed

[2020-07-29 21:29] rocketraman opened #12 "OCR option creates large page sizes"
As reported by @IBMPortablePc in https://github.com/rocketraman/sane-scan-pdf/issues/9#issuecomment-661488121, when using the OCR option, tesseract creates very large page sizes.

See https://github.com/tesseract-ocr/tesseract/issues/150 for a discussion and possible solution.

[2020-07-29 22:02] #12 closed

[2020-08-04 11:09] stevesimmons opened #14 "Add example command for installing dependencies to README.md"
Can you please add a line in the Requirements section on how to install the dependencies?

The package names for Ubuntu are:

If you prefer, I can add this in a pull request.

[2020-08-04 13:57] rocketraman commented on #14
I normally run the script on Fedora, not Ubuntu, so this isn't something I can really maintain easily. What I think we can do though, at least for now, is create a wiki page for this.

See https://github.com/rocketraman/sane-scan-pdf/wiki/Dependencies-Installation.

I'll add a link to this in the README also.

[2020-08-04 13:57] #14 closed

[2020-11-02 15:36] timcknowles opened #15 "units: command not found"
Thanks for this script. I know people have had success on Debian / Rasperry Pi. When I run the script I encounter this.

scan: line 201: units: command not found
scan: line 207: units: command not found
Scanning...
scanadf: open of device fujitsu failed: Invalid argument

Any advice greatly appreciated

[2020-11-02 15:59] rocketraman commented on #15
@timcknowles You need to find what package provides the `units` command. On Fedora it is "units". Check out https://www.cyberciti.biz/faq/equivalent-of-rpm-qf-command/.

Please post here to let me know which package provides it, and we'll update the wiki page about dependencies: https://github.com/rocketraman/sane-scan-pdf/wiki/Dependencies-Installation.

[2020-11-02 16:26] rocketraman commented on #15
I added units to the dependency list here: ed98da9c438ee4781f869df0e981bc946d4247ac.

[2020-11-02 16:39] timcknowles commented on #15
Thanks for the speedy reply. I can confirm its the "units" package in Raspberry Pi OS/ Debian also. Thanks Tim

[2020-11-02 16:55] rocketraman commented on #15
Thanks, wiki updated!

[2020-11-02 16:55] #15 closed

[2020-11-02 17:00] timcknowles opened #16 "scanadf: open of device fujitsu failed: Invalid argument"
I meant to say the script fails on this. Thanks Tim

[2020-11-02 17:04] rocketraman commented on #16
The script defaults to a fujitsu scanner/device. What is your hardware? You can see the drivers / connected devices by doing this:

[code]

You can then pass `--device device-name` to the script to use the correct one.

[2020-11-02 17:20] timcknowles commented on #16
I'm using a FUJITSU ScanSnap S1300i scanner

sudo scanimage -L gives me:
device `epjitsu:libusb:001:011' is a FUJITSU ScanSnap S1300i scanner

I don't get anything with scanadf -L. Do I need to install this front end separately. Thanks again for your help

[2020-11-02 17:59] timcknowles commented on #16
Update:

I changed the device from DEVICE=fujitsu to DEVICE=epjitsu

pi@raspberrypi:~ $ sudo scanbd -f
scanbd: dbus match type='signal',interface='org.freedesktop.Hal.Manager'
scanbd: SANE_CONFIG_DIR not set
scanbd: Not Primary Owner (-1)
scanbd: Name Error (Connection ":1.75" is not allowed to own the service "de.kmux.scanbd.server" due to security policies in the configuration file)
scanbd: trig

[2020-11-02 18:39] rocketraman commented on #16
You are triggering a scan from `scanbd` -- honestly I don't know what parameters that script is called with. You'll likely need to create some type of shim script that takes whatever parameters it gets when the button is pressed, and converts them to the parameters needed by the `scan` script.

For the purposes of debugging here, I'd remove `scanbd` out of the equation, and just get things working

[2020-11-02 19:37] timcknowles commented on #16
That makes complete sense to remove scanbd, I saw that other's had had success and that's how I came to try try it.  This is the output:

pi@raspberrypi:~/sane-scan-pdf $ sudo bash scan -v -d -r 300 -v -m Lineart --skip-empty-pages -o /home/pi/scans/scan
Scanning...
scanadf: rounded value of page-height from 279.4 to 279.406
scanadf: invalid option -- 'y'
Found no scans.

Thanks

[2020-11-02 20:13] rocketraman commented on #16
Probably unrelated, but you shouldn't need to use `sudo` when running this script. Nothing it does should require root access.

The '-y' option is a driver-specific option for page height. Looking at the man page for epjitsu (https://linux.die.net/man/5/sane-epjitsu) it does seem to have some limitations:

and

Try removing or commenting these lines from your script and see if it works:

https://g

[2020-11-02 20:22] rocketraman commented on #16
Or grab the code from https://github.com/rocketraman/sane-scan-pdf/pull/17 and try to call the scan script with the argument `--no-default-size`.

[2020-11-03 01:59] joesphan opened #18 "multi page scanning"
Hello! Is it possible to do multi page scanning? I tried the -e command but it doesn't seem to do much (albeit i'm not sure what it does)

[2020-11-03 02:04] rocketraman commented on #18
Yes multi page scanning would be the normal operation, no switch is required. -e truncated pages, use --help to get an explanation of each switch.

[2020-11-03 02:07] joesphan commented on #18
so I have
`./scan --device pixma:04A926EF_SJ3029112970S -e 5 -o asdf.pdf`
and the output is
[code]
can you clue me into what i'm doing wrong?

[2020-11-03 02:13] joesphan commented on #18
Ok, I might not have been as clear, I want to scan a multi page document into a single pdf

[2020-11-03 02:20] joesphan commented on #18
This seemed to be the solution: adding a -a at the end of it appends to it. Thanks!
[code]

[2020-11-03 02:20] #18 closed

[2020-11-03 14:36] rocketraman commented on #18
Yes, just to clarify, the `-a` option allows a scan to append to an existing PDF, and has nothing to do with multi-page scans in and of themselves. Multi-page scans happen automatically with scanners that support a sheet feeder, and no `-a` option is necessary in this case.

[2020-11-03 14:37] rocketraman commented on #16
@timcknowles Once you let me know if the code from #17 is working for this case, I can merge it to master.

[2020-11-03 15:04] timcknowles commented on #16
Hi thanks so much for this. I can confirm that by using code from #17 and calling the script with the argument --no-default-size works for the S1300i.

I did run into one more dependency issue with the scan_perpage script  "bc: command not found" - installing the bc package fixed this  (apt-get install bc)

I'm going to continue to try and get this work calling it via scanbd so the scan triggered

[2020-11-03 15:09] rocketraman commented on #16
Thanks for that confirmation. Code merged to master, README updated with optional `bc` dependency, and wiki https://github.com/rocketraman/sane-scan-pdf/wiki/Dependencies-Installation updated also.

[2020-11-03 15:09] #16 closed

[2021-03-06 13:05] prismplex opened #19 "-m Color hangs"
First of all thank you for this great script.
Currently using it with a ix1500 and a raspberry pi running ubuntu. All color modes work as expected except `-m Color`.
Script output:
[code]
After that nothing happens, the script hangs.
Verbose mode on:
[code]

The script i used:
[code]

Does somebody have an idea how to solve this?
Thank you!

[2021-03-07 20:58] rocketraman commented on #19
Are you sure it is hung, or is it just taking a while? Even on my desktop machine, `pnmtops` takes a while to run when in color mode at a resolution of 300.

As an experiment, try it with `-r 75`, which should be significantly faster.

[2021-03-07 22:14] prismplex commented on #19
Wow, thank you, you are right. But why does it take so long? Any argument to speed this up (beside reducing to a lower dpi)?

[2021-03-08 03:15] rocketraman commented on #19
I don't know TBH. I did some googling but nothing of note comes up.

[2021-03-08 14:22] rocketraman commented on #19
Sent an email to the maintainer of netpbm. Will update this issue if I hear back.

[2021-03-11 03:08] #19 closed

[2021-03-11 03:09] rocketraman commented on #19
@prismplex I think I figured out the problem... or at least a symptom of the problem (I'm still waiting to hear back from the maintainer of netpbm about his ideas for the root cause). Please try the latest master version and see if that works better for you.

[2021-03-11 14:17] rocketraman commented on #19
FYI The underlying issue, which doesn't affect the workaround now on master, seems to be with ghostscript, not with netpbm. I've created this issue on the Ghostscript bug tracker: https://bugs.ghostscript.com/show_bug.cgi?id=703686.

[2021-03-11 21:04] prismplex commented on #19
Thank you very much! The workaround works flawlessly. Scanning is much much much faster! Cool!

[2021-04-21 20:08] DocMAX opened #20 "Using AVStream.codec to pass codec parameters to muxers is deprecated..."
Is there something that can be done about that message?...
[code]

[2021-04-21 20:32] DocMAX commented on #20
Ok seems to be a bug in av lib.

[2021-04-21 20:32] #20 closed

[2021-07-27 14:22] p opened #23 "My scanadf does not recognize --page-height"
The default invocations of `scan` aren't working for me, and I would appreciate any assistance with figuring out what I am missing.

The minimum invocation with specifying the device only fails with `scanadf` not recognizing the `--page-height` option:

[code]

After I add `--no-default-size`, this works, but if I add `--crop`, `scan` puts in the `--page-height` option back which once again fails:

[2021-07-27 14:42] rocketraman commented on #23
Yeah, `--page-height` is a device specific option in `scanadf`. My S1500 has it, as do probably most other ADF scanners, but other devices may not support it.

The intent of the `--no-default-size` option was to handle devices that do not support the page size arguments.

However, I see that this section of the script ignores `--no-default-size` when `--crop` is specified: https://github.com/rocke

[2021-07-27 15:02] p commented on #23
I have this:

[code]

Would the `-y` option be semantically providing the same functionality as --page-height?

[2021-07-27 15:35] rocketraman commented on #23
As an aside, I see now why "Color" wasn't working for you... your other option would have been to just specify the driver mode explicitly: `--mode="24bit Color[Fast]"`, but I do still like the `--mode-hw-default` switch, which is easier to type.

My scanner supports both, and generally both are supposed to be set when supported. The `--page-height` option supports centering of the scan coordinates

[2021-07-28 00:09] p commented on #23
They weren't in the above help output, and as far as I can tell my `scanadf` doesn't support `--swcrop` and `--ald`:

[code]
[code]

I am looking into the page height situation.

[2021-07-28 00:44] p commented on #23
After applying https://github.com/p/sane-scan-pdf/commit/67e4f86e6b4faa89327148388468965522914382 to remove --page-width/--page-height arguments and #27 to fix argument processing, I get:

[code]

I take it this means `--crop` doesn't work for me? Readme says "driver must support [--crop]", does this mean unpaper doesn't offer similar feature?

[2021-07-28 01:46] rocketraman commented on #23
Yeah, currently `--crop` relies on driver support. Its possible unpaper has something similar but I haven't looked into it. I'm not opposed to a software-based crop being implemented.

[2021-07-28 04:40] p commented on #23
Okay,  I'm going to give up on cropping in my environment on account of it apparently not working.

You mentioned earlier that

I can submit a PR to do that or whatever you think is missing since I'm editing the code anyway, but  as I haven't been able to get cropping working I won't be able to test it.

Or if it makes more sense, this ticket can be closed.

[2021-07-28 05:46] rocketraman commented on #23
If your scanner doesn't support the crop options, then I think there is no point in making any other changes for now. Therefore, I'll close, but feel free to re-open if you have any other ideas.

[2021-07-28 05:46] #23 closed

[2021-07-30 14:38] p opened #30 "bc appears to be required in default configuration"
The readme says `bc` is optional, but it appears to be required in the default configuration:

[code]

In looking at its invocation in `scan_perpage`, I think it is *always* invoked if the `scan_perpage` script is invoked.

[2021-08-05 17:22] bin101 opened #33 "Batch scan into single files doesn't work"
See title. I tried a scan with 9 pages and --output_list option but I only get 3 output files with a single page.

I can confirm that all 9 pages where created successfully inside the tmp folder.

I replaced the while loop inside the "Naming pdfs based on output list..." section with the following code and this works:

[code]

my scan call:

[code]

As I mentioned with 9 single pages I only get th

[2021-08-05 20:22] rocketraman commented on #33
I am unable to reproduce the problem on my machine -- I get the correctly named output files:

[code]

Can you provide some more details about your system, or any error messages you are seeing? Note that your code doesn't take care of a lot of stuff the current code does, such as checking for existing files with the same name and appending to them if necessary, as well as checking if the user-spec

[2021-08-05 21:43] bin101 commented on #33
I use debian 11 with all packages up-to-date from the stable repositories and I got no errors (see the system log below).

My scanner is a fujitsu ScanSnap S1500

Because I do not use appending I reduced the naming code to this snippet and added some debug outputs:
[code]

In the end my system log looked like this:
[code]

All I want is a single pdf for each single sheet of paper I put into the sc

[2021-08-05 22:30] rocketraman commented on #33
That makes no sense. From your debug output we know `output_count` is 9, and we know index is being incremented by 1 on each loop. Why would the loop condition `while [[ "$index" < "$output_count" ]];` bail out at index 3?

At the end of your loop after echoing the index, can you also echo the output_count? I don't see anywhere where that value could be changed but just to make sure.

Also, I noti

[2021-08-06 04:21] #30 closed

[2021-08-06 08:06] bin101 commented on #33
I think we can close this ticket. Without scanbd your script works flawlessly or do you have any idea why scanbd can generate this issue?

[2021-08-06 12:29] rocketraman commented on #33
Perhaps scanbd is timing out? Does it have any time out options? Try running scan with -x from scanbd and -x without scanbd and comparing the output.

[2021-08-06 13:42] bin101 commented on #33
I don't know what is happening... This is the output with bash -x with your original version:
[code]

Nevertheless I will use my modified ugly version. I only need this functionality for my initial bulk insert.

[2021-08-06 14:02] bin101 commented on #33
@rocketraman I think I found the issue. Please also try to use a bigger list for the filenames and scan 7 pages.
i.e.:

[code]

with this I also only got 3 ouput files and I didn't used scanbd this time.

[2021-08-06 16:50] rocketraman commented on #33
@bin101 Thank you for finding the reproduction recipe. The issue was that the while loop was not doing an arithmetic comparison. This should be fixed now. Can you check if the fix in the PR https://github.com/rocketraman/sane-scan-pdf/pull/34 works for you?

[2021-08-06 21:48] #33 closed

[2021-08-09 07:53] bin101 commented on #33
@rocketraman Works great, thank you. Now I only need a duplex option for batch scanning of single pages xD Ideally with removal of white pages.

[2021-08-09 13:48] rocketraman commented on #33
That should work fine with -d for duplex and --skip-empty-pages, unless I'm misunderstanding your requirement!

[2021-08-10 09:54] bin101 commented on #33
Not really currently I use i.e.:
[code]

So I get for each paper the front and back in a single pdf. If I would also include --skip-empty-pages and one of the sheets has a back and one not it will append the wrong sheets, because --skip-empty-pages is already triggered before the appending.

[2021-10-18 11:52] watou opened #35 "searchable PDFs unsearchable after editing unlike commercial scanner software"
I do duplex scans only with my Fujitsu ScanSnap S1500M and edit the resulting searchable PDF files in macOS Preview to remove any pages I don't want.  However, the PDF files combined by `pdfunite`, once edited, make the embedded OCR'd text into strings of question-mark-in-box characters.  This stops the files from being searchable.

When I change the `scan` script thus it does NOT solve this probl

[2021-12-05 12:03] surmann opened #37 "Adjust brightness and optimise white page recognition"
Thanks for your script, it makes the scanworld easier. :) I came from this [page](https://chrisschuld.com/2020/01/network-scanner-with-scansnap-and-raspberry-pi/).

I have two questions:
1. Is it possible to implement a parameter to adjust the brightness? I scan white papers from letters, but it is quite dark. The corresponding software of my Fujitsu iX500 (ScanSnap Home) returns much brighter res

[2021-12-09 17:21] surmann commented on #37
Solved.

[2021-12-09 17:21] #37 closed

[2022-01-07 14:31] rocketraman commented on #35
Any updates on this @watou ?

[2022-01-15 12:15] nyn44e opened #39 "usage with scanbd: invalid argument when script is executed directly"
Hi,

first of all thanks for making this great script. It's a real time-saver.

I have a Fujitsu S1500 connected to a raspberrypi that also runs `scanbd` to enable me to scan stuff by pressing the button on the scanner.
Scanbd is configured to execute the script `scan.sh` upon signal from the button:

[code]
This works great when I press the button. However, when I execute the script directly via

[2022-01-15 14:22] rocketraman commented on #39
I have a Fujitsu S1500nas well. I'll install `scanbd` here and see if I can reproduce.

I'm assuming you've configured scanbd as recommended?

[2022-01-15 14:40] nyn44e commented on #39
I followed several instruction pages to configure scanbd since the original README (https://github.com/mdengler/scanbd/blob/master/doc/README.txt) is a little dated.

The major difference to the instructions in the link is that I use systemd (scanbm.socket) to advertise the scanner in the network instead of inetd/xinetd. But since that is the part that seems to be working (I can scan pressing the

[2022-01-15 18:15] rocketraman commented on #39
I'm on Fedora but these arch instructions seem to be pretty up to date, and use systemd. Does this sound something like your local configuration?

https://wiki.archlinux.org/title/Scanner_Button_Daemon

[2022-01-16 04:13] rocketraman commented on #39
@nyn44e I tried to install scanbd but was unsuccessful (compile error I don't have time to resolve).

That being said, I've committed c892202 to the repo, which allows an empty device argument i.e. `--device ""`. With an empty device argument, no `-d` parameter will be set for `scanadf`. If your evaluation of the problem is correct, this should allow you to move forward.

BTW, on my machine, not s

[2022-01-16 04:15] rocketraman commented on #35
No further information provided from user, closing. Feel free to re-open if you have additional info to provide.

[2022-01-16 08:19] nyn44e commented on #39
Those are pretty much the configuration guidelines I followed for scanbd.

[2022-01-16 08:21] nyn44e commented on #39
Thank you very much for the new commit. That fixed it. It will now scan instantly, whether I press the button or just execute the script. Thanks a lot!

[2022-01-16 14:01] rocketraman commented on #39
Great to hear!

[2022-01-16 14:01] #39 closed

[2022-01-18 05:56] rocketraman commented on #16
@timcknowles This issue might be relevant to your use case with scanbd: https://github.com/rocketraman/sane-scan-pdf/issues/39.

[2022-02-19 09:37] rajil opened #40 "Brother Printer DCP-L2541DW"
I have a Brother Printer (DCP-L2541DW) which has a flat bed scanner and an ADF. The scanner does not due duplex scanning though. At the moment i am using [brscan](https://github.com/asmw/brother-scan) to enable the 'Scan to PC'  on the printer. This way i can scan a document with a press of a button.

As i mentioned the printer can only do single side scanning. After it has scanned the page, the p

[2022-02-19 14:59] rocketraman commented on #40
I have the same printer/scanner combination as well, though I never use the flat bed for scanning. But I can try to play around with it.

Let me understand your use case though... You want to scan duplex, ideally via the ADF but manually is fine if necessary?

[2022-02-19 15:33] rajil commented on #40
I want to scan duplex manually using flat bed. If you try this out with Brother Windows Control Centre software you would see that it is possible. I was wondering if that is possible in linux.

After posting the above i came across [this](https://github.com/maumi/brother-scan) patch. With this i am now able to duplex scan using ADF. This has reduced the urgency quite a bit.

[2022-02-19 15:46] rajil opened #41 "Integration with Paperless-ng"
Not a bug but just curious whether this script can be used with paperless-ng.

[2022-02-19 15:50] rajil commented on #41
Saw the linked blog posts mentioning this software and paperless.

[2022-02-19 15:50] #41 closed

[2022-02-23 07:10] rocketraman commented on #40
It doesn't support that currently, but it wouldn't be too difficult to add.

[2022-02-23 07:43] rocketraman commented on #40
Hmm, the downside of this is that the script becomes "interactive" to some extent, because it has to scan the first set of pages, and then the second.

It would probably make sense for this to be a wrapper around the usual scan script, which would simply use pdfseparate and pdfunite to re-order the pages.

I'll take a PR for that functionality but probably won't build it myself.

[2022-03-01 05:01] rajil opened #42 "no decode delegate for this image format"
Any idea why the script is failing on the Brother DCP-L2541 printer. I have imagemagick 7.1.0.25-1 installed on the Arch system.
[code]

[2022-03-01 05:24] rocketraman commented on #42
What does `identify -list format | grep -i tiff` output on your system?

Do you have another scanner you can test with?

[2022-03-01 05:48] rajil commented on #42
[code]

[2022-03-08 19:18] watou commented on #35
Just reporting that the following changed pieces yield the same unwanted result (if one removes one or more pages using macOS Preview from a multi-page PDF created by this script that includes text added by tesseract), re-opening the PDF in any viewer changes all text into the same "nonsense" glyph).

- current commit version of this project (a5d56a0e81fa6ee1f8b4383ec86d4ad3f421794a)
- macOS Monte

[2022-03-08 20:40] rocketraman commented on #35
@watou Thanks for the update. The information doesn't help me unfortunately. What I would need from you ideally is an upload of a PDF scanned and OCRed via this project, and one scanned and and OCRed via the Fujitsu software.

I would like to compare the two to see if there are any notable differences in the OCRed content.

I'd also like to try opening both PDFs on a Mac machine I have access to.

[2022-03-08 20:44] watou commented on #35
I will send you those shortly; thanks for having a look when you have them!

[2022-03-08 21:03] watou commented on #35
Hi @rocketraman, the file [SaneScanPdf.pdf](https://github.com/rocketraman/sane-scan-pdf/files/8209552/SaneScanPdf.pdf) was scanned with a Fujitsu ScanSnap S1500M using your script, and the command line
[code]
The file [ScanSnapManager.pdf](https://github.com/rocketraman/sane-scan-pdf/files/8209565/ScanSnapManager.pdf) was scanned with ScanSnap Manager Version 6.3 L70 on macOS Mojave 10.14.6.

If

[2022-03-08 21:27] rocketraman commented on #35
I've replicated the issue with both your scans, as well as another I did locally. I'll continue to do a bit of research to see if there is something simple to change to improve compat with MacOS Preview, however, I note this appears to not be the first time (by a long shot) that people have noted this buggy behavior with MacOS Preview, which links to 4 or 5 various posts about this issue:

https:/

[2022-03-08 21:42] watou commented on #35
Thanks for looking.  From your first link provided it sounds like Apple did some vendor-specific hacks to keep Preview from breaking ABBYY FineReader-produced OCR; if so, that's very fragile territory to try to improve.  But just for completeness, the "garbage" I see always looks like the image below, not the garbled text in the image at your first link.  Thanks again!

<img width="969" alt="Scree

[2022-03-08 21:46] rocketraman commented on #35
I also replicated the issue by *not* using OCR in sane-scan-pdf, and instead adding the OCR layer post-scanning via [OCRmyPDF](https://ocrmypdf.readthedocs.io/en/latest/). Same issue when adding OCR via that tool using the default PDF render mode which is "sandwich". However, when using the older "hocr" PDF render mode, editing the PDF in Preview worked fine.

However, the "hocr" mode requires com

[2022-03-08 22:35] rocketraman commented on #35
Probably the easiest option is to just use ocrmypdf as an alternative to directly using tesseract.

[2022-03-08 22:55] watou commented on #35
@rocketraman If the pipeline had the OCR option you've described, that would be a perfect solution, especially since ocrmypdf seems like a mature and well packaged (optional) dependency.

[2022-03-08 23:06] watou commented on #35
I like the option of having your script produce the "default" handling of scanned documents, which in my case includes embedded OCR.  Since your script already does this but in the limited range of choices that don't overcome the Preview problem, adding in a known workaround by optionally supporting a choice that does keeps your solution to one step per document.  Of course I could modify your or

[2022-04-02 04:38] rocketraman commented on #42
Can you try it without `--ocr` and without `--unpaper`?

[2022-04-05 17:52] OhHeyAlan opened #43 "Rotate"
I have a ScanSnap S1500 and I can't figure out how to rotate all the images 180 degrees, since they all come out upside down...  Can anyone point me in the right direction?

[2022-04-05 18:00] mgray88 commented on #43
Put the paper in the other way?

[2022-04-05 18:22] rocketraman commented on #43
The right way to place the paper on the S1500 is with the front side down, and the top of the paper feeding in first. If you're placing it that way and things are still upside down, then please re-open/comment. Thanks!

[2022-04-05 18:22] #43 closed

[2022-04-05 21:05] OhHeyAlan commented on #43
@rocketraman This will take some getting use to... For 8 years I used it on Windows, paper facing backward, top still on top and the orientation on the computer was always correct. Sorry for opening a issue over a user error.

[2022-04-05 21:38] rocketraman commented on #43
@OhHeyAlan No worries. I suspect the windows driver for the scanner does some magic to rotate the pages for you when you put them in the wrong way.

[2022-04-05 21:42] rocketraman commented on #43
I'm really surprised you never had a false negative in 8 years though...

[2022-04-22 19:33] andhawk opened #44 "Settings SOURCE=ADF doesn't work on brother MFC-L2700DW"
Also tried
  SOURCE="ADF"

It's not a big problem as I can use
  DRIVER_OPTION="--source ADF"

But just in case it points to a problem in the script you can help me understand the problem please

`Options specific to device `airscan:w1:Brother':
  Standard:
    --resolution 100|200|300dpi [300]
        Sets the resolution of the scanned image.
    --mode Color|Gray [Color]
        Selects the scan

[2022-04-25 20:18] rocketraman commented on #44
Can you try doing a scan with `--verbose` to see if that gives any hints? Judging by the driver options you posted, it seems like it should be working.

[2022-10-08 14:42] kleinarne opened #45 "units: cannot open file '/root/.units': Permission denied"
I'm trying to get scanbd to call sane-scan-pdf when pressing the scan button on my Fujitsu S1300i.

When I run scanbd with `sudo SANE_CONFIG_DIR=/etc/scanbd scanbd -d7 -f` and press the scan button, I get the following debug output. Note the two lines `units: cannot open file '/root/.units': Permission denied`.

I don't know how to fix this...

[code]

[2022-10-08 16:22] kleinarne commented on #45
Well, after posting this I found https://github.com/rocketraman/sane-scan-pdf/issues/16, which eventually solved it - I had to update the script that calls scan,

from
[code]
to
[code]
`--device ""` fixed the `scanadf: open of device fujitsu failed: Invalid argument` error,
`--no-default-size` fixed the `units: cannot open file '/root/.units': Permission denied` error.

And then it scanned, albeit

[2022-10-08 16:22] #45 closed

[2022-10-08 18:27] rocketraman commented on #45
Glad you got it all working and thanks for updating the issue with your solution and issue references! Cheers.

[2022-10-09 04:27] kleinarne opened #46 "When calling sane-scan-pdf from scanbd, it is run with euid root, causing permission errors"
I'm still trying to get sane-scan-pdf to work with scanbd. After solving some configuration issues, I am now stuck.

In the debian bugtracker, there is an [unresolved bug](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=820237) from 2016 that seems to describe my problem fairly well:

This seem to be the root of the permissions issues I [[1]](https://github.com/rocketraman/sane-scan-pdf/issues/4

[2022-10-09 22:03] rocketraman commented on #44
No debug information available, closing.

[2022-10-09 22:03] #44 closed

[2022-10-09 22:04] rocketraman commented on #42
Need more information here, closing for now. Feel free to re-open if you want to continue debugging.

[2022-10-09 22:04] #42 closed

[2022-10-10 09:22] wpauser-sps opened #48 "Can quality Fujitsu Software vs Sane?"
Are there any good defaults to achieve a similar scan quality like with the "original" fujitsu software?

- If I switch from LineArt to Color --skip-empty-pages is no longer working
- Setting a Size does not work on the S1300i (only on the S1500) i need --no-default-size otherwise I will get "scanadf: invalid option -- 'y'"
- When scanning without a default size I see the borders

I would apprecia

[2022-11-08 21:16] budda85 opened #50 "scanimage instead of scanadf"
is it possible to use the script with scanimage instead of scanadf?
I'm using Manjaro and there is no scanadf.

[2022-11-09 04:09] rocketraman commented on #50
Not at the moment -- the script relies on the `-S` parameter of `scanadf` to process each page scanned.

What are you trying to do exactly? If you are only scanning a single page then a lot of what the script does is not relevant.

On Fedora, `scanadf` is provided by the `sane-frontends` package whereas `scanimage`  is provided by `sane-backends`. Perhaps you just need to install the equivalent Ma

[2022-11-11 11:50] budda85 commented on #50
I have a Fujitsu ix500 and would like to control it via the scan button. The scanner should then scan in duplex mode, remove the white pages and save the file as pdf.
I can query the button press with scanadf and then I just want to use your script to do the rest. But as I found out, scanadf is not available for manjaro/arch and is probably no longer actively maintained.

[2022-11-11 15:51] rocketraman commented on #50
I don't believe that is right: the last change made to `scanadf.c` was 4 weeks ago: https://gitlab.com/sane-project/frontends/-/tree/master/src.

I don't know how this script would work without the ability of `scanadf` to scan multiple pages at a time. If you have any suggestions or want to submit a PR, please feel free but otherwise I'll go ahead and close this.

[2022-11-11 15:51] #50 closed

[2022-11-11 18:46] rocketraman commented on #50
BTW, looks like you can still load sane-frontends from AUR: https://aur.archlinux.org/packages/sane-frontends.